.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.main {
  padding: 20px;
}

.table_container {
  margin-bottom: 40px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.th,
.td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.th {
  background-color: #333;
  color: #fff;
}
