@keyframes blink {
  0% {
    color: red;
  }

  50% {
    color: rgb(16, 156, 98);
  }

  100% {
    color: rgb(3, 85, 3);
  }
  100% {
    color: blue;
  }
}

.animate-blink {
  animation: blink 1s infinite alternate;
}
